main {
  padding: var(--mantine-spacing-xl);
  margin: 0 auto;
  max-width: 1000px;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navContentRight {
  display: flex;
  gap: calc(var(--mantine-spacing-md) * 1.5);
}

.tab {
  color: white;

  &[data-active] {
    color: var(--color-grey-900);
    background-color: white;
    font-weight: 700;
  }
}

article {
  /* This gap feels too big but it matches the design */
  margin-top: var(--search-page-margin-top);
}
