main {
  margin: var(--mantine-spacing-xl);
}

nav {
  display: flex;
  justify-content: space-between;
}

.navContentRight {
  display: flex;
  gap: calc(var(--mantine-spacing-md) * 1.5);
}

.tab {
  color: white;

  &[data-active] {
    color: var(--peach-color-body);
    background-color: white;
    font-weight: 700;
  }
}
