.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--movie-card-width), 1fr));
  column-gap: var(--mantine-spacing-xs);
  row-gap: calc(var(--mantine-spacing-md) * 2);
}
